:root {
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-light-s: #FAFAFA;
  --color-light-l: #F6F6F6;
  --color-light-xl: #FFFFFF;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-3xl: #292929;
  --color-dark-4xl: #000000;
}


*, 
*::after, 
*::before {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.first-bg {
  background: url(../assets/main/noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.button {
  display: inline-block;
  padding: 0.938rem 2.813rem;
  border: 2px solid var(--color-primary);
  border-radius: 6.25rem;
  text-decoration: none;
  background-color: var(--color-primary);
  cursor: pointer;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;

  color: var(--color-dark-3xl);

  transition: all 0.3s;
}

.button:active {
  transform: scale(1.1);
  border-color: var(--color-primary);
  background-color: var(--color-primary-light);
}

.button:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.button--light {
  background-color: transparent;
}

/* HEADER */
.first {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  padding-top: 1.875rem;
}

.header--light {
  padding-bottom: 30px;
}

.logo {
  text-decoration: none;
  transition: all 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.logo__title {
  margin: 0;
  margin-bottom: 0.625rem;
  color: var(--color-primary);
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;

  transition: all 0.3s;
}

.header--light .logo__title {
  color: var(--color-dark-l);
}

.logo:hover .logo__title {
  color: var(--color-primary-light);
}

.header--light .logo:hover .logo__title {
  color: var(--color-dark-3xl);
}

.logo__subtitle {
  margin: 0;
  padding-left: 4px;
  font-size: 0.813rem;
  line-height: 1.154em;
  letter-spacing: 0.1em;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;

  color: var(--color-light-xl);

  transition: all 0.3s;
}

.header--light .logo__subtitle {
  color: var(--color-dark-3xl);
}

.logo:hover .logo__subtitle {
  color: var(--color-light-l);
}

.header--light .logo:hover .logo__subtitle {
  color: var(--color-dark-4xl); 
}

.nav__container {
  display: flex;
  list-style-type: none;
}

.nav__item {
  transition: all 0.3s;
}

.nav__item:active {
  transform: scale(1.1);
}

.nav__item--active {
  position: relative;
}

.nav__item--active:active {
  transform: scale(1);
  cursor: auto;
}

.nav__item--active .nav__text{
  cursor:auto;
}

.nav__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 3px;
  background-color: transparent;
  transform: translateY(100%);
  transition: all 0.3s;
}

/* .nav__item:active:after, */
.nav__item--active::after {
  background-color: var(--color-primary);
}

.nav__item + .nav__item {
  margin-left: 2.188rem;
}

.nav__text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
  text-decoration: none;

  transition: all 0.3s;
}
.header--light .nav__text {
  color: var(--color-dark-l);
}

.nav__item--active .nav__text { 
  color: var(--color-light-s);
}
.header--light .nav__item--active .nav__text {
  color: var(--color-dark-l);
}

.nav__item:hover .nav__text {
  color: var(--color-light-s);
}
.header--light .nav__item:hover .nav__text {
  color: var(--color-dark-3xl);
}
/* HEADER  END*/

/* START */
.start {
  padding-top: 254px;
  padding-bottom: 240px;
  width: 100%;

  background: url(../assets/main/start-screen-puppy.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 40px) bottom;
}

.start__header {
  margin: 0;
  margin-bottom: 40px;
  max-width: 19.375rem;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 130%;

  color: var(--color-light-xl);
}

.start__text {
  padding: 0;
  margin-bottom: 41px;
  max-width: 28.75rem;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 160%;

  color: var(--color-dark-s);
}
/* START END */

/* ABOUT */
.about {
  padding: 94px 0 114px;
  display: flex;
  justify-content: right;

  background: url(../assets/main/about-pets.png);
  background-repeat: no-repeat;
  background-position: 215px 80px;
}
.about__content {
  max-width: 430px;
  margin-right: 215px;
}

.about__header {
  margin: 0;
  
  max-width: 370px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}

.about__text {
  margin: 0;
  margin-top: 25px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  color: var(--color-dark-xl);
}
/* ABOUT END */

/* PETS */
.pets {
  padding: 80px 0 98px;
  background-color: var(--color-light-l);
}

.pets__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pets__header {
  margin: 0;
  margin-bottom: 58px;
  max-width: 400px;
  text-align: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}

.pets__slider {
  margin-bottom: 56px;
}

.slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
}

.slider--extra {
  margin-bottom: 0;
}

.slider__content {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  gap: 90px;
  z-index: 1;
}

.slider__content--extra {
  align-items: center;
  justify-content: center;
  gap: 29px 40px;
  flex-wrap: wrap;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-s);
  border-radius: 9px;
  cursor: pointer;

  transition: all 0.3s;
}

.slider__item:hover {
  background-color: var(--color-light-xl);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__item:hover .slider__button {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.slider__img {
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
  border-radius: 9px 9px 0px 0px;
  object-fit: cover;
}

.slider__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}

.slider__button {
  margin-bottom: 30px;
}

.slider__arrow {
  width: 52px;
  height: 52px;

  border: 2px solid var(--color-primary);
  border-radius: 100px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;

  cursor: pointer;

  transition: all 0.3s;
}

.slider__nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.slider__arrow:active {
  transform: scale(1.1);
}

.slider__arrow:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.slider__arrow--prev {
  background-image: url(../assets/svg/left-button.svg);
}

.slider__arrow--next {
  background-image: url(../assets/svg/left-button.svg);
  transform: rotate(-180deg);
}

.slider__arrow--next:active {
  transform: rotate(-180deg) scale(1.1);
}

.slider__pagination {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

.slider__pagination__item {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 100px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-dark-3xl);
  
  cursor: pointer;
  transition: all 0.3s;
}

.slider__pagination__item::after {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-dark-3xl);
}

.slider__pagination__item:disabled,
.slider__pagination__item[disabled] {

  color: var(--color-dark-s);
  border-color: var(--color-dark-s);

  cursor:auto;
}

.slider__pagination__item:disabled::after,
.slider__pagination__item[disabled]::after {
  color: var(--color-dark-s);
}

.slider__pagination__item:disabled:active,
.slider__pagination__item[disabled]:active {
  transform: scale(1);
}

.slider__pagination__item:hover:disabled,
.slider__pagination__item[disabled]:hover {
  
  color: var(--color-dark-s);
  border-color: var(--color-dark-s);
  background-color: transparent;

  cursor:auto;
}

.slider__pagination__number {
  background-color: var(--color-primary);
}

.slider__pagination__item:active {
  transform: scale(1.1);
}

.slider__pagination__item:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.slider__pagination__start,
.slider__pagination__end,
.slider__pagination__prev,
.slider__pagination__next {
  position: relative;
}

.slider__pagination__start::after,
.slider__pagination__end::after,
.slider__pagination__prev::after,
.slider__pagination__next::after {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  color: var(--color-dark-3xl);
  transform: translate3d(-50%, -50%, 0);
}

.slider__pagination__start::after {
  content: "<<";
}

.slider__pagination__end::after {
  content: ">>";
}

.slider__pagination__prev::after {
  content: "<";
}
.slider__pagination__next::after {
  content: ">";
}


/* PETS END */

/* HELP */
.help {
  padding: 46px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.help__header {
  margin-bottom: 60px;
  max-width: 380px;
  text-align: center;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}

.help__content {
  display: flex;
  flex-wrap: wrap;
  gap: 55px 120px;
  justify-content: center;
  align-items: center;

  margin: 0 60px;
  padding: 0;
  list-style-type: none;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__image {
  margin-bottom: 30px;
}

.help__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}
/* HELP END */

/* DONATION */
.donation {
  display: flex;
  justify-content: right;
  padding: 80px 0 98px;
  
  background-color: var(--color-light-l);
}

.donation__container {
  width: 100%;
  display: flex;
  justify-content: right;

  background-image: url(../assets/main/donation-dog.png);
  background-repeat: no-repeat;
  background-position: 183px calc(50% - 1px);
}

.donation__content {    
  max-width: 380px;
  margin-right: 142px;
}

.donation__header {
  margin: 0;
  margin-bottom: 20px;
  max-width: 300px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}

.donation__subheader {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}

.donation__cardnumber {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px 10px 60px;
  background-image: url(../assets/svg/credit-card.svg);
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-position: 15px center;
  border-radius: 9px;
  text-decoration: none;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);

  transition: all 0.3s;
}

.donation__cardnumber:active {
  transform: scale(1.1);
}

.donation__cardnumber:hover {
  background-color: var(--color-primary-light);
}

.donation__description {
  margin: 0;
  max-width: 380px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: var(--color-dark-m);
}
/* DONATION END */

/* FOOTER */
.footer {
  background: url(../assets/main/noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
  
  padding-top: 56px;
  padding-bottom: 60px;
  display: flex;
  gap: 0 161px;
  background-image: url(../assets/main/footer-puppy.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 40px) bottom;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

.footer__content--2 {
  gap: 29px 0;
}

.footer__header {
  max-width: 279px;
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;

  color: var(--color-light-xl);
}

.footer__contact {
  display: inline-block;
  margin: 0;
  padding: 4px 0;
  padding-left: 60px;
  max-width: 320px;
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  background-repeat: no-repeat;
  background-position: left center;
  color: var(--color-primary);
  cursor: pointer;

  transition: all 0.3s;
}
.footer__contact:active {
  transform: scale(1.1);
}

.footer__contact:hover {
  color: var(--color-light-xl);
}

.footer__contact--email {
  background-image: url(../assets/svg/icon-email.svg);
}

.footer__contact--tel {
  background-image: url(../assets/svg/icon-phone.svg);
}

.footer__contact--addr {
  background-image: url(../assets/svg/icon-marker.svg);
  padding-left: 40px;
}
/* FOOTER END */
