:root {
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-light-s: #FAFAFA;
  --color-light-l: #F6F6F6;
  --color-light-xl: #FFFFFF;
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-3xl: #292929;
  --color-dark-4xl: #000000;
}


*, 
*::after, 
*::before {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.page--clip {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.first-bg {
  background: url(../assets/main/noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.button {
  display: inline-block;
  padding: 0.938rem 2.813rem;
  border: 2px solid var(--color-primary);
  border-radius: 6.25rem;
  text-decoration: none;
  background-color: var(--color-primary);
  cursor: pointer;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;

  color: var(--color-dark-3xl);

  transition: all 0.3s;
}

.button:active {
  transform: scale(1.1);
  border-color: var(--color-primary);
  background-color: var(--color-primary-light);
}

.button:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.button--light {
  background-color: transparent;
}

/* HEADER */
.first {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  padding-top: 1.875rem;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header--light {
  padding-bottom: 30px;
}

.logo {
  text-decoration: none;
  transition: all 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.logo__title {
  margin: 0;
  margin-bottom: 0.625rem;
  color: var(--color-primary);
  font-size: 2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;

  transition: all 0.3s;
}

.header--light .logo__title {
  color: var(--color-dark-l);
}

.logo:hover .logo__title {
  color: var(--color-primary-light);
}

.header--light .logo:hover .logo__title {
  color: var(--color-dark-3xl);
}

.logo__subtitle {
  margin: 0;
  padding-left: 4px;
  font-size: 0.813rem;
  line-height: 1.154em;
  letter-spacing: 0.1em;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;

  color: var(--color-light-xl);

  transition: all 0.3s;
}

.header--light .logo__subtitle {
  color: var(--color-dark-3xl);
}

.logo:hover .logo__subtitle {
  color: var(--color-light-l);
}

.header--light .logo:hover .logo__subtitle {
  color: var(--color-dark-4xl); 
}

.nav__container {
  display: flex;
  list-style-type: none;
}

.nav__item {
  transition: all 0.3s;
}

.nav__item:active {
  transform: scale(1.1);
}

.nav__item--active {
  position: relative;
}

.nav__item--active:active {
  transform: scale(1);
  cursor: auto;
}

.nav__item--active .nav__text{
  cursor:auto;
}

.nav__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 3px;
  background-color: transparent;
  transform: translateY(100%);
  transition: all 0.3s;
}

/* .nav__item:active:after, */
.nav__item--active::after {
  background-color: var(--color-primary);
}

.nav__item + .nav__item {
  margin-left: 2.188rem;
}

.nav__text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
  text-decoration: none;

  transition: all 0.3s;
}

.nav-button {
  display: none;
  width: 30px;
  height: auto;
}

.header--light .nav__text {
  color: var(--color-dark-l);
}

.nav__item--active .nav__text { 
  color: var(--color-light-s);
}
.header--light .nav__item--active .nav__text {
  color: var(--color-dark-l);
}

.nav__item:hover .nav__text {
  color: var(--color-light-s);
}
.header--light .nav__item:hover .nav__text {
  color: var(--color-dark-3xl);
}

.backdrop {
  display: none;
}
/* HEADER  END*/

/* START */
.start {
  padding-top: 254px;
  padding-bottom: 240px;
  width: 100%;

  background: url(../assets/main/start-screen-puppy.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 40px) bottom;
  background-size: 54.6%;
}

.start__header {
  margin: 0;
  margin-bottom: 40px;
  max-width: 19.375rem;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 2.75rem;
  line-height: 130%;

  color: var(--color-light-xl);
}

.start__text {
  padding: 0;
  margin-bottom: 41px;
  max-width: 28.75rem;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 160%;

  color: var(--color-dark-s);
}
/* START END */

/* ABOUT */
.about {
  padding: 94px 0 114px;
  display: flex;
  justify-content: right;

  background: url(../assets/main/about-pets.png);
  background-repeat: no-repeat;
  background-position: 215px 80px;
}
.about__content {
  max-width: 430px;
  margin-right: 215px;
}

.about__header {
  margin: 0;
  
  max-width: 370px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}

.about__text {
  margin: 0;
  margin-top: 25px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;

  color: var(--color-dark-xl);
}
/* ABOUT END */

/* PETS */
.pets {
  padding: 80px 0 98px;
  background-color: var(--color-light-l);
}

.pets__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pets__header {
  margin: 0;
  margin-bottom: 58px;
  max-width: 400px;
  text-align: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}

.pets__slider {
  margin-bottom: 56px;
}

.slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
}

.slider--extra {
  margin-bottom: 0;
}

.slider__container {
  overflow-x: hidden;
  width: calc(100% - 210px);
}

.slider__content {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  gap: 90px;
  z-index: 1;

  transform: translateX(-1080px);

  /* transition: transform  0.7s cubic-bezier(.65, 0, .35, 1); */
}

.slider__content--anim-left {
  transform: translateX(0);
  
  transition: transform  0.7s cubic-bezier(.65, 0, .35, 1);
}

.slider__content--anim-right {
  transform: translateX(-2160px);
  
  transition: transform  0.7s cubic-bezier(.65, 0, .35, 1);
}

.slider__content-item {
  display: flex;
  gap: 90px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__content--extra {
  align-items: center;
  justify-content: center;
  gap: 29px 40px;
  flex-wrap: wrap;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-s);
  border-radius: 9px;

  width: 270px;
  cursor: pointer;

  transition: all 0.3s;
}

.slider__item:hover {
  background-color: var(--color-light-xl);
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.slider__item:hover .slider__button {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.slider__img {
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
  border-radius: 9px 9px 0px 0px;
  object-fit: cover;
}

.slider__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}

.slider__button {
  margin-bottom: 30px;
}

.slider__arrow {
  width: 52px;
  height: 52px;

  border: 2px solid var(--color-primary);
  border-radius: 100px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;

  cursor: pointer;

  transition: all 0.3s;
}

.slider__nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.slider__arrow:active {
  transform: scale(1.1);
}

.slider__arrow:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.slider__arrow--prev {
  background-image: url(../assets/svg/left-button.svg);
}

.slider__arrow--next {
  background-image: url(../assets/svg/left-button.svg);
  transform: rotate(-180deg);
}

.slider__arrow--next:active {
  transform: rotate(-180deg) scale(1.1);
}

.slider__pagination {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

.slider__pagination__item {
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 100px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-dark-3xl);
  
  cursor: pointer;
  transition: all 0.3s;
}

.slider__pagination__item::after {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-dark-3xl);
}

.slider__pagination__item:disabled,
.slider__pagination__item[disabled] {

  color: var(--color-dark-s);
  border-color: var(--color-dark-s);

  cursor:auto;
}

.slider__pagination__item:disabled::after,
.slider__pagination__item[disabled]::after {
  color: var(--color-dark-s);
}

.slider__pagination__item:disabled:active,
.slider__pagination__item[disabled]:active {
  transform: scale(1);
}

.slider__pagination__item:hover:disabled,
.slider__pagination__item[disabled]:hover {
  
  color: var(--color-dark-s);
  border-color: var(--color-dark-s);
  background-color: transparent;

  cursor:auto;
}

.slider__pagination__number {
  background-color: var(--color-primary);
}

.slider__pagination__item:active {
  transform: scale(1.1);
}

.slider__pagination__item:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.slider__pagination__start,
.slider__pagination__end,
.slider__pagination__prev,
.slider__pagination__next {
  position: relative;
}

.slider__pagination__start::after,
.slider__pagination__end::after,
.slider__pagination__prev::after,
.slider__pagination__next::after {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  color: var(--color-dark-3xl);
  transform: translate3d(-50%, -50%, 0);
}

.slider__pagination__start::after {
  content: "<<";
}

.slider__pagination__end::after {
  content: ">>";
}

.slider__pagination__prev::after {
  content: "<";
}
.slider__pagination__next::after {
  content: ">";
}


/* PETS END */

/* HELP */
.help {
  padding: 46px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.help__header {
  margin-bottom: 60px;
  max-width: 380px;
  text-align: center;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}

.help__content {
  display: flex;
  flex-wrap: wrap;
  gap: 55px 120px;
  justify-content: center;
  align-items: center;

  margin: 0 60px;
  padding: 0;
  list-style-type: none;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__image {
  margin-bottom: 30px;
}

.help__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}
/* HELP END */

/* DONATION */
.donation {
  display: flex;
  justify-content: right;
  padding: 80px 0 98px;
  
  background-color: var(--color-light-l);
}

.donation__container {
  width: 100%;
  display: flex;
  justify-content: right;

  background-image: url(../assets/main/donation-dog.png);
  background-repeat: no-repeat;
  background-position: 183px calc(50% - 1px);
}

.donation__content {    
  max-width: 380px;
  margin-right: 142px;
}

.donation__header {
  margin: 0;
  margin-bottom: 20px;
  max-width: 300px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}

.donation__subheader {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);
}

.donation__cardnumber {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px 10px 60px;
  background-image: url(../assets/svg/credit-card.svg);
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-position: 15px center;
  border-radius: 9px;
  text-decoration: none;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;

  color: var(--color-dark-l);

  transition: all 0.3s;
}

.donation__cardnumber:active {
  transform: scale(1.1);
}

.donation__cardnumber:hover {
  background-color: var(--color-primary-light);
}

.donation__description {
  margin: 0;
  max-width: 380px;
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: var(--color-dark-m);
}
/* DONATION END */

/* FOOTER */
.footer {
  background: url(../assets/main/noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
  
  padding-top: 56px;
  padding-bottom: 60px;
  display: flex;
  gap: 0 161px;
  background-image: url(../assets/main/footer-puppy.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 40px) bottom;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}

.footer__content--2 {
  gap: 29px 0;
}

.footer__header {
  max-width: 279px;
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;

  color: var(--color-light-xl);
}

.footer__contact {
  display: inline-block;
  margin: 0;
  padding: 4px 0;
  padding-left: 60px;
  max-width: 320px;
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  background-repeat: no-repeat;
  background-position: left center;
  color: var(--color-primary);
  cursor: pointer;

  transition: all 0.3s;
}
.footer__contact:active {
  transform: scale(1.1);
}

.footer__contact:hover {
  color: var(--color-light-xl);
}

.footer__contact--email {
  background-image: url(../assets/svg/icon-email.svg);
}

.footer__contact--tel {
  background-image: url(../assets/svg/icon-phone.svg);
}

.footer__contact--addr {
  background-image: url(../assets/svg/icon-marker.svg);
  padding-left: 40px;
}
/* FOOTER END */

/* MEDIA */
@media (max-width: 1279px) {
  .start {
    padding-top: 19.9%;
    padding-bottom: 18.7%;
  }
  
  .container {
    padding-left: 4%;
    padding-right: 4%;
  }

  .slider__content {
    width: 82.15%;
    align-items: center;
    justify-content: space-between;
    gap: unset;
  }
  .slider__content--extra {
    gap: 30px 40px;
  }

  .help__content {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px 0%;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0 6%;
  }

  .donation__container {
    background-position: 23.6% calc(50% - 1px);
    background-size: 39.42%;
  }

  .footer__container {
    display: grid;
    grid-template-columns: 1.153fr 1fr 1fr;
    gap: unset;
  }
}

@media (max-width: 1250px) {
  .donation__content {
    max-width: 380px;
    margin-right: 5%;
  }
}

@media (max-width: 1240px) {
  .about {
    background-position: 50.1% 84.4%;
    padding-top: 10.6%;
    padding-bottom: 48%;
  }

  .about__content {
    margin: 0 auto;
    max-width: 80%;
    /* max-width: 620px; */
  }
}

@media (max-width: 1135px) {
  .button {
    padding: 13px 43px;
  }

  /* .start {
    padding-top: 15%;
    padding-bottom: 47%;
    background-position: calc(100% - 35px) bottom;
    background-size: 58%;
  } */

  .start {
    padding-top: 10%;
    padding-bottom: 60%;
    background-position: calc(100% - 35px) bottom;
    background-size: 62%;
  }
  
  .start__text {
    max-width: 55%;
  }

  .about {
    padding-bottom: 53%;
  }

  .donation__container {
    background-position: 15% calc(50% - 1px);
  }
}

@media (max-width: 1120px) {
  .slider__content--extra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 40px;
  }
}

@media (max-width: 1105px) {
  .slider__content {
    justify-content: space-evenly;
  }

  .slider__item:last-of-type {
    display: none;
  }

  .footer__container {
    display: flex;
    width: 100%;
    gap: unset;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 36%;
    background-position: 50% bottom;
  }
}

@media (max-width: 935px) {
  .start {
    padding-top: 10%;
    padding-bottom: 60%;
    background-position: calc(100% - 35px) bottom;
    background-size: 62%;
  }
  
  .about {
    padding-bottom: 68%;
  }

  .about__content {
    /* max-width: 530px; */
  }

  .donation__container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 41.7%;
    background-position: 50% 100%;
    background-size: auto;
  }

  .donation__content {
    margin-right: 0;
    max-width: 60%;
  }

  .donation__description {
    max-width: 100%;
  }

  .footer__container {
    padding-bottom: 48.7%;
    justify-content: space-between;
    padding-left: 8.3%;
    padding-right: 5.8%;
    padding-top: 31px;
  }

  .pets__header--extra {
    margin-bottom: 29px;
  }

  .slider__content--extra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 40px;
  }

  .slider__content--extra .slider__button {
    margin-bottom: 28px;
  }

  .slider__pagination {
    margin-top: 41px;
  }

  .slider__content--extra .slider__item:nth-child(n+7),
  .slider__content--extra .slider__item:nth-child(n+8) {
    display: none;
  }

}

@media (max-width: 769px) {
  .start {
    padding-top: 8%;
    padding-bottom: 90.2%;
    background-position: calc(100% - 30px) bottom;
    background-size: 74.1%;
  }

  .start__content {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 65%;
  }

  .start__header {
    margin-bottom: 26px;
  }

  .start__button {
    align-self: center;
  }

  .start__text {
    max-width: 100%;
  }

  .about{
    padding-bottom: 76.5%;
  }
  
  .about__content {
    max-width: 430px;
  }

  .about__text {
    margin-top: 24px;
  }

  .slider__content {
    justify-content: space-between;
  }

  .slider__title {
    margin-bottom: 11%;
  }
  
  .slider__img {
    margin-bottom: 11.7%;
  }

  .pets {
    padding-bottom: 13%;
  } 

  .pets--extra {
    padding-bottom: 2.1%;
  }
  
  .pets__slider {
    margin-bottom: 8.5%;
  }
  
  .help__header {
    margin-bottom: 8.2%;
  }

  .help__content {
    padding: 0 8px;
  }

  .donation {
    padding-bottom: 100px;
  }

  .donation__content {
    max-width: 54%;
  }
}

@media (max-width: 767px) {
  .header__container {
    align-items: center;
  }

  .nav-button {
    position: relative;
    display: block;
    width: 30px;
    height: 22px;
    padding: 0;
    background-color: transparent;
    border: none;
    border-top: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    z-index: 20;
    transition: all 0.4s cubic-bezier(.65, 0, .35, 1);
  }
  
  .nav-button::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
  }

  .nav-button--open {
    transform: rotate(-90deg);
  }

  .header--light .nav-button {
    border-color: var(--color-dark-4xl);
  }
  .header--light .nav-button::after {
    background-color: var(--color-dark-4xl);
    background-image:none;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    opacity: 0;
    background-color: var(--color-dark-3xl);
    z-index: 10;

    transform: translateX(100%);
    transition: all .4s cubic-bezier(.65, 0, .35, 1);
  }

  .header--light .nav {
    background-color: var(--color-light-xl);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }

  .nav::after {
    content: "";

  }

  .nav--open {
    opacity: 1;
    transform: translateX(0);
  }

  .nav__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    margin: 0;
    padding: 0;
    
    padding-bottom: 27%;
  }

  .nav__item--active::after {
    transform: translateY(50%);
  }

  .nav__item + .nav__item {
    margin-left: 0;
    margin-top: 41px;
  }

  .nav__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: var(--color-light-s);
  }

  .backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateX(-100%);
    background: rgba(41, 41, 41, 0.6);
    opacity: 0;

    z-index: 2;
    
    transition: opacity .3s ease;
  }

  .nav--open + .backdrop {
    transform: translateX(0);
    opacity: 1;
  }

  .start__header {
    font-size: 6vw;
    max-width: 71%;
  }
}

@media (max-width: 725px) {
  .slider__content {
    justify-content: center;
  }
  .slider__content--extra {
    display: flex;
  }

  .slider__item:not(:nth-child(1)) {
    display: none;
  }
  .slider__content--extra .slider__item:nth-child(1),
  .slider__content--extra .slider__item:nth-child(2),
  .slider__content--extra .slider__item:nth-child(3) {
    display: flex;
  }

  .slider__pagination {
    margin-top: 48px;
    gap: 10px;
  }

  .donation {
    padding-top: 13%;
    padding-bottom: 42px;
  }

  .donation__content {
    max-width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .donation__container {
    padding-bottom: 55.7%;
    background-position: 50% 100%;
    background-size: 81%;
  }

  .donation__description {
    max-width: 350px;
    text-align: justify;
  }

  .footer__container {
    flex-direction: column;
    justify-content: center;
    padding-left: 2.8%;
    padding-right: 5.8%;
    padding-bottom: 70%;
    background-size: auto;
  }

  .footer__content + .footer__content {
    margin-top: 13.5%;
  }
}

@media (max-width: 680px) {
  .about {
    padding-top: 12.8%;
    padding-bottom: 136%;
    background-position: center 93.4%;
    background-size: 81.2%;
  }
}
@media (max-width: 580px) {
  .help__title {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
}

@media (max-width: 520px) {
  .header__container {
    padding-left: 6%;
    padding-right: 6%;
  }

  .start {
    padding-top: 19%;
    padding-bottom: 117.9%;
    background-position: calc(100% - 10px) bottom;
    background-size: 81.2%;
  }

  .start__content {
    max-width: 100%;
  }

  .start__header,
  .about__header, 
  .pets__header,
  .help__header,
  .footer__header,
  .donation__header {
    font-size: 7.8vw;
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
  }

  .footer__header,
  .pets__header {
    max-width: 100%;
  }

  .donation__header {
    max-width: 77%;
  }
  
  .start__text {
    margin-top: 14%;
    text-align: center;
  }

  .slider__nav {
    position: relative;
    order: 1;
    transform: none;
    max-width: 63%;
    margin-top: 6.6%;
  }

  .slider__img {
    margin-bottom: 11%;
  }

  .about {
    padding-top: 12.8%;
    padding-bottom: 136%;
    background-position: center 93.4%;
    background-size: 81.2%;
  }
  
  .about__content {
    max-width: 430px;
    padding: 0 4.1%;
    text-align: justify;
  }

  .pets {
    padding-top: 13%;
  }
  
  .pets--extra {
    padding-bottom: 0;
  }
  
  .pets__slider {
    margin-bottom: 14.4%;
    margin-top: 14.5%;
  }
  
  .help {
    padding-top: 13%;
    padding-bottom: 12.4%;
  }

  .help__content {
    padding: 0;
    padding-top: 14%;
    margin: 0 6px;
    
    grid-template-columns: 1fr 1fr;
    gap: 30px 0.6%;
  }

  .help__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .help__image {
    margin-bottom: 20px;
    width: 35%;
    height: auto;
  }

  .help__title {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
  }

  .donation {
    padding-top: 13%;
    padding-bottom: 42px;
  }

  /* .donation__container {
    padding-bottom: 55.7%;
    background-position: 50% 100%;
    background-size: 81%;
  } */
  
  .donation__header {
    margin-bottom: 8.3%;
  }

  .donation__content {
    max-width: 100%;
    padding: 0 2.9%;
  }

  .donation__subheader {
    letter-spacing: normal;
    margin-bottom: 8.8%;
  }

  .donation__cardnumber {
    font-size: 15px;
    padding: 12px 14px 12px 57px;
    background-position: 13px center;
  }

  .footer__container {
    flex-direction: column;
    justify-content: center;
    padding-left: 2.8%;
    padding-right: 5.8%;
    padding-bottom: 97.5%;

    
    background-size: 81.6%;
  }

  .footer__content--1 {
    padding-left: 3%;
  }
  
  .footer__content--2 {
    gap: 35px 0;
    align-items: center;
  }
  
  .footer__content--2 .footer__header {
    padding-left: 3%;
  }

  .footer__content + .footer__content {
    margin-top: 13.5%;
  }

  .footer__contact {
    /* margin: 0 auto; */
  }
  
  .footer__contact--email,
  .footer__contact--tel {
    margin: 0 auto;

    padding-left: 58px;
  }
}

@media (max-width: 340px) {
  .footer__content--2 {
    align-items:flex-start;
  }
}
/* MEDIA END */
